
@{
    ViewBag.Title = "About US";
}

<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-yeti.css" rel="stylesheet" type="text/css" />

<style type="text/css">
     body {
        margin: -5px;
        background-color: #fff !important;
    }

    .underline {
        color: #fff;
        font-family: serif;
        font-weight: 400;
        display: inline-block;
        height: 50px;
        box-shadow: 0 25px 0 -23px #fff;
    }

    .mainHead {
        background-color:#008cba;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .mainHead {
        background-color: #007196;
        margin-right:15px;
    }

    #features {
    margin-top:20px;
}
.feature, .feature i, .feature h3, .feature .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;    
}
.feature {
    background:#FFFFFF;
    text-align:center;
    padding:20px;
    border: solid 1px #cccccc;
}
.feature p {
    margin-top:20px;   
    margin-bottom:30px;   
}
.feature i{
    font-size:80px;
    color:#FFFFFF;
    background:#007196;
    padding:30px;
    border-radius:50%;
    border: solid 3px #007196;
}
.feature h3 {
    color:#007196;  
}
.feature:hover h3 {
    color:#fff;  
}
.feature:hover p {
    color:#fff;  
}
.feature:hover {
    background:#007196;
    -webkit-transform: translate(0,1em);
    -moz-transform: translate(0,1em);
    -o-transform: translate(0,1em);
    -ms-transform: translate(0,1em);
    transform: translate(0,1em);    
}
.feature:hover i{
    color:#007196;
    border-color:#007196;
    background:#FFFFFF;
}
.feature:hover .title_border {
    background-color:#fff;
    width:50%;
}
.feature .title_border {
    width: 0%;
    height: 3px;
    background:#007196;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}
.row{
    margin:0px;
     
}

.shadow{
    box-shadow: 10px 10px 5px #888888;
}



</style>

    
    <div class="container" style="background-color:white;">
            <div class="page-header center-block text-center container mainHead"><h2 class="underline">ABOUT US</h2></div>


            <div class="container">
                <div class="row well">
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img style="padding-left:20%;" src="https://www.quanterion.com/wp-content/uploads/2014/11/training-icon.jpg" alt="" class="img-responsive text-center rounded">
                    </div>
                </div>
            </div>

            <div class="container" id="features">
                <div class="row shadow">
                    <div class="col-md-4 feature">
                        <i class="glyphicon glyphicon-picture"></i>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="title_border"></div>
                        <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
                    </div>
                    <div class="col-md-4 feature">
                        <i class="glyphicon glyphicon-globe"></i>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="title_border"></div>
                        <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
                    </div>
                    <div class="col-md-4 feature">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="title_border"></div>
                        <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
                    </div>
                </div>
            </div>
        </div>
