
@{
    ViewBag.Title = "Contact";
    
}

<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-yeti.css" rel="stylesheet" type="text/css" />

<style type="text/css">
     body {
        margin: -5px;
        background-color: #fff !important;
    }

    .underline {
        color: #fff;
        font-family: serif;
        font-weight: 400;
        display: inline-block;
        height: 50px;
        box-shadow: 0 25px 0 -23px #fff;
    }

    .mainHead {
        background-color:#008cba;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .mainHead {
        background-color: #007196;
        margin-right:15px;
    }

</style>

<div class="container" style="background-color:white;">
    <div class="page-header center-block text-center container mainHead"><h2 class="underline">Contact US</h2></div>


    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.103913733251!2d67.00230031500287!3d24.860300284054034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33e1c7747db27%3A0x3693a2d7e527556e!2sAgaria+Jamaat+Khana!5e0!3m2!1sen!2s!4v1510134667766" width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>

            <div class="well">
                <div class="span8">
                    <h2>CMA PARADISE SCHOOL</h2>
                    <address>
                        <strong>Nishter Road</strong><br>
                        opposite Risala/Eid Gaah Police Station,<br>
                        Backside of City Court,<br>
                        Saddar,<br>
                        Karachi<br>
                        <abbr class="glyphicon glyphicon-phone"></abbr> 01234 567 890
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>