@model SOP.Models.User

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@if (Request.IsAuthenticated) { 
<div class="form-group">

    @Html.TextBoxFor(m => m.Password)

    @Html.TextBox("ConfirmPassword")

    @Html.ActionLink("Submit", "ChangePassword")
</div>
}

