@model SOP.Models.User

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

<form class="text-center" action="~/Account/ForogtPassword" method="post">
    @Html.TextBoxFor(m => m.Email)
    @Html.TextBoxFor(m => m.Answer)

    <input class="btn btn-md btn-primary text-center" type="submit" value="ForgotPassword" style="width:100%; border:none;" />

    @if (TempData["Error"] != null)
            {
        <span class="glyphicon glyphicon-alert alert alert-danger" style="margin-top:5px; font-size:14px "> @TempData["Error"] </span>

    }
</form>
   
